* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  body{
      background: url("Field.jpg");
      background-position: center;
      background-size:cover;
      height: 100vh;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }
  
  header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    font-family:'Courier New', Courier, monospace;
    font-size:x-large;
    font-weight:bolder;
  }
  .navbar .menu-links {
      display: flex;
      list-style: none;
      padding: 10px;
      gap: 35px;
      border: 5px solid green;
      background-color:#135a10;
      border-radius: 10px;
      box-shadow: 2px 2px #bebebe;
  }
  .navbar a {
    color:#ffffff;
    text-decoration: none;
    transition: 0.2s ease;
  }
  #search{
    border-radius: 10px;
    width: 170px;
    height: 30px;
    position: relative;
    top: -40px;
    left: 1100px;
    color: 000000;
    font-weight: bolder;
  }
  input:placeholder-shown{
    padding-left: 15px;
  }
  .quote{
    position: relative;
    left: 300px;
    top: 250px;
    width: 700px;
    color: #ffffff;
    transition: 1s ease-in-out;
  }
  .quote p{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  .quote:hover{
    color: #000000;
    transition: 1s ease-in-out;
    cursor: pointer;
  }

.container {
    height: 400px;
    width: 800px;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 10px 20px #dbdbdb;
    font-family: sans-serif;
    position: relative;
    left:25%;
    top: 170px;
  }
  
  .palette {
    display: flex;
    height: 86%;
    width: 100%;
  }
  
  .color {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    transition: flex 0.1s linear;
    text-shadow: 2px 2px #000000;

  }
  
  .color span {
    opacity: 0;
    transition: opacity 0.1s linear;
  }
  
  .color:nth-child(1) {
   
    background: url(jennifer-schmidt-0XVrBLy73rw-unsplash.jpg);
    background-size: cover;
  }
  
  .color:nth-child(2) {
    background:url(mae-mu-tbm6k2G-vAA-unsplash.jpg);
    background-size: cover;
  }
  
  .color:nth-child(3) {
    background: url(jonathan-kemper-1HHrdIoLFpU-unsplash.jpg);
    background-size: cover;
  }
  
  .color:nth-child(4) {
    background: url(markus-spiske-l1sz772sEFE-unsplash.jpg);
    background-size: cover;
  }
  
  .color:nth-child(5) {
    background: url(jonathan-pielmayer-eFFnKMiDMGc-unsplash.jpg);
    background-size: cover; 
  }
  
  .color:hover {
    flex: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .color:hover span {
    opacity: 1;
  }
  
  #stats {
    height: 14%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
    box-sizing: border-box;
    color: #000000;
    font-weight: bold;
  }
  
  #stats svg {
    fill: #bebebe;
    transform: scale(1.2);
  }